{% extends "_base.html" %}
{% load humanize %}

{% block title %}My Unpublished Answers | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}




{% block content %}

<div class="container">

  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/account/dashboard/answers">Go back</a></li>
      <li class="breadcrumb-item active" aria-current="page">Unpublished answers</li>
    </ol>
  </nav>
    
    <h3 class="change-font-family"><strong>My Unpublished Answers</strong> (drafts)</h3>
    <div class="alert alert-warning" role="alert">
      Why are my answers not yet published <a href="rocky-atoll-47450.herokuapp.com/help/#why-my-question-or-answer-or-article-are-not-yet-published">Learn more</a>
    </div>
    <br>

   
    
    <ul>
        {% for answer in answers %}
            <li class="mb-3 p-2" style="border: 1px solid #266150; list-style-type: none;">{{ answer.answer|truncatewords_html:15|safe }}
              <a href="{% url 'delete-draft-answers' answer.id %}" style="color: crimson;"><i class="material-icons">delete</i></a>
            <a href="{% url 'edit-draft-answers' answer.id %}"><i class="material-icons">edit</i></a>
            </li>
        {% empty %}
        <p>You don't have any drafted answer.</p>
        {% endfor %}
    </ul>
  
</div>

  
{% endblock %}