{% extends "_base.html" %}
{% load humanize %}

{% block title %}My Published Questions | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}




{% block content %}

<div class="container">

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/account/dashboard/questions">Go back</a></li>
          <li class="breadcrumb-item active" aria-current="page">Published questions</li>
        </ol>
      </nav>
    
    <h3 class="change-font-family"><strong>My Published Questions</strong></h3>
    <br>

   
    
    <ul>
        {% for question in questions %}
            <li class="mb-3"><a href="{{ question.get_absolute_url }}">{{ question.title|truncatewords_html:10 }}</a>
              <a href="{% url 'questions:delete_question' question.slug %}" style="color: crimson;"><i class="material-icons">delete</i></a>
            <a href="{% url 'questions:edit_question' question.slug %}"><i class="material-icons">edit</i></a>
            </li>
        {% empty %}
        <p>You don't have any published question. <a href="/questions/ask">Ask</a></p>
        {% endfor %}
    </ul>
  
</div>

  
{% endblock %}