{% extends "_base.html" %}
{% load humanize %}

{% block title %}Code of Conduct | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}


{% block content %}



<div class="container">

  <h2 class="change-font-family"><strong>Code of Conduct</strong></h2>
  <hr class="my-4">

  <p>
    All participants of Nesa Academy are expected to abide by our Code of Conduct.
  </p>

  <h4 class="change-font-family"><strong>Our Pledge</strong></h4>

  <p>
    In the interest of fostering an open and welcoming environment, we as moderators of Nesa Academy Community pledge to make participation in our project and our community a harassment-free experience for everyone, regardless of age, body size, disability, ethnicity, gender identity and expression, level of experience, nationality, personal appearance, race, religion, or sexual identity and orientation.
  </p>

  <h4 class="change-font-family"><strong>Our Standards</strong></h4>

  <p>Examples of behavior that contributes to creating a positive environment include:</p>

  <ul>
    <li style="list-style-type: disc;">Using welcoming and inclusive language</li>
    <li style="list-style-type: disc;">Being respectful of differing viewpoints and experiences</li>
    <li style="list-style-type: disc;">Gracefully accepting constructive criticism</li>
    <li style="list-style-type: disc;">Focusing on what is best for the community</li>
    <li style="list-style-type: disc;">Showing empathy towards other community members</li>

  </ul>

  <p>Examples of unacceptable behavior by participants include:</p>

  <ul>
    <li style="list-style-type: disc;">The use of sexualized language or imagery and unwelcome sexual attention or advances</li>
    <li style="list-style-type: disc;">Trolling, insulting/derogatory comments, and personal or political attacks</li>
    <li style="list-style-type: disc;">Public or private harassment</li>
    <li style="list-style-type: disc;">Publishing others' private information, such as a physical or electronic address, without explicit permission</li>
    <li style="list-style-type: disc;">Other conduct which could reasonably be considered inappropriate in a professional setting</li>
    <li style="list-style-type: disc;">Dismissing or attacking inclusion-oriented requests</li>

  </ul>

  <h4 class="change-font-family"><strong>Enforcement</strong></h4>

  <p>
    Violations of the Code of Conduct may be reported by contacting the team via sending an email to academynesa@gmail.com. All reports will be reviewed and investigated and will result in a response that is deemed necessary and appropriate to the circumstances. Further details of specific enforcement policies may be posted separately.

    Moderators have the right and responsibility to remove comments or other contributions that are not aligned to this Code of Conduct, or to suspend temporarily or permanently any members for other behaviors that they deem inappropriate, threatening, offensive, or harmful.
  </p>

  <h4 class="change-font-family"><strong>Attribution</strong></h4>

  <p>This Code of Conduct is adapted from:</p>
  <ul>
    <li style="list-style-type: disc;"><a href="https://www.contributor-covenant.org/version/1/4/code-of-conduct/" target="_blank">Contributor Covenant, version 1.4</a></li>
  </ul>

</div>
  
  
{% endblock %}

