{% extends "_base.html" %}
{% load humanize %}


{% block title %}Email Sent | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}


{% block content %}



<div class="success-jumbotron">

  <br>
  <br>
  <br>

  <h1 class="change-font-family">Thanks for reaching out</h1>
  

  <p class="green-color">We would get back to you very shortly :)</p>

  <div class="text-center">
    <a class="btn btn-lg" href="/">Go Back</a>
  </div>

    
</div>
  
  
{% endblock %}

