{% extends "_base.html" %}
{% load humanize %}


{% block title %}GPA | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}


{% block content %}


<div class="container">

  <h2><strong>GPA Calculator</strong></h2>
  <small>So you want to know your gpa score.</small>

</div>
  
  
{% endblock %}

