{% extends "_base.html" %}
{% load humanize %}


{% block title %}Help Center | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}


{% block content %}


<div class="container">

  <h2 class="change-font-family"><strong>Help Center</strong></h2>
  <hr class="my-4">
  <br>
  <ul>
    <li style="list-style-type: circle;" id="ask-question"><h4>What happens when I ask a new question or post an answer on Nesa Academy</h4></li>
    <small>If you have less than 50 reputations your question or answer would be submitted as a draft (but can be edited in your dashboard) and then reviewed by admin. If there are no errors, it would be published. By the way, you also get additional two points for your reputation</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="approve-question"><h4>What happens when my question or answer gets approved</h4></li>
    <small>It would be posted live. By the way, you also get additional three points for your reputation.</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="message-user"><h4>What happens when I receive a message from admin</h4></li>
    <small>You are required to respond within 24 hours to the query.</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="delete-question"><h4>What happens if my question or answer gets deleted by admin</h4></li>
    <small>Your drafted question or answer gets deleted permanently if you do not comply with the instruction given within 24 hours. Also, you get a decrease in reputation (-2).</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="how-to-ask-a-question"><h4>How to ask a question</h4></li>
    <small>
      <ol>
        <li style="list-style-type: lower-latin;">Only Economics related questions are allowed with a blend of Statistics, Mathematics, Econometrics, and Finance questions</li>
        <li style="list-style-type: lower-latin;">Give your question a title (maximum of 100 characters)</li>
        <li style="list-style-type: lower-latin;">Explain your question in detail in the body section</li>
        <li style="list-style-type: lower-latin;">Add tags to your question (for example microeconomics, econometrics, etc)
        </li>
      </ol>
      <br>
      
      <p><b>For example:</b></p>
      Why is it that a monopoly can influence price or quantity and not both<b> (This can be the title)</b>
      <br>
      Monopoly has the power to influence price and quantity and not both, please I would love to know the reason why <b>(This can be the body)</b>
      <br>
      microeconomics, monopoly <b>(This can be the tag(s))</b>
      <br>
      <br>

      <p><b>Please try to re-read the question to ensure there are no typographical errors</b><br>Such questions would be approved quickly</p>
    </small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="how-to-answer-a-question"><h4>How to answer a question</h4></li>
    <small>
      <ol>
        <li style="list-style-type: lower-latin;">You can only have one answer per question</li>
      </ol>
      <br>
      <p><b>Please try to re-read the answer to ensure their are no typographical errors</b><br>Such answers would be approved quickly</p>
    </small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="deleting-a-question"><h4>Why can't I delete a question that as an approved answer even though I was the one that asked the question</h4></li>
    <small>It can't be deleted because other users have taken time to answer your question. By the way, only users with over 100 reputations can delete an answer. Trust must be gained by a user to avoid malicious behavior from users</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="editing-a-question-or-answer"><h4>How to edit a question or answer</h4></li>
    <small>Only people with over 50 reputations can edit a question or an answer. Trust must be gained by a user to avoid malicious behavior from users</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="why-my-question-or-answer-or-article-are-not-yet-published"><h4>Why are my questions or answers or article not yet published</h4></li>
    <small>They would be published within 24 hours of posting given there are no queries with the posts</small>

    <br>
    <br>
    <li style="list-style-type: circle;" id="reputation"><h4>What is reputation? How do I earn (and lose) it?</h4></li>
    <br>
      <h6>Reputation is entirely optional</h6>
      <small>
        The three most important activities on Nesa Academy are asking and answering questions as well as posting articles - none of which require any reputation at all except posting an article that requires at least 100 reputations!
        <br>
        Please try to get comfortable with those three activities before looking to expand your participation into other areas. So what is reputation?

      </small>
      <hr>
      <h6>So what is reputation?</h6>
      <small>
        Reputation is a rough measurement of how much the community trusts you; it is earned by convincing your peers that you know what you’re talking about. The more reputation you earn, the more privileges you gain and the more tools you'll have access to on the site. How do I earn a reputation?
      </small>

      <hr>
      <h6>How do I earn reputation?</h6>
      <small>
        The primary way to gain a reputation is by posting good questions and useful answers. Votes on these posts cause you to gain (or sometimes lose) reputation. Please note that votes for posts are marked. How do I earn a reputation?
      </small>
      <hr>
      <h6>How do I earn reputation?</h6>
      <small>
        The primary way to gain a reputation is by posting good questions and useful answers. Votes on these posts cause you to gain (or sometimes lose) reputation. Please note that votes for posts are marked.
      </small>
      <br>
    <br>
    <li style="list-style-type: circle;" id="anonymous-user"><h4>What is an Anonymous User</h4></li>
    <small>Questions, Answers, and Articles are tagged as an anonymous user showing that the original user has deleted his/her account</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="posting-article"><h4>Posting an article</h4></li>
    <small>You need at least 100 points of reputation to post an article, Trust must be gained by a user to avoid malicious behavior from users</small>
    <br>
    <br>
    <li style="list-style-type: circle;" id="shareing-content"><h4>Sharing question or article</h4></li>
    <small>It is recommended to share your questions or articles with your peers or whoever can answer your question, or would benefit from it. You can share on all major social media platforms via the Nesa Academy Platform.</small>
  </ul>

</div>
  
  
{% endblock %}

