{% extends "_base.html" %}
{% load humanize %}


{% block title %}Privacy Policy| {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}


{% block content %}


<div class="container">

  <h2 class="change-font-family"><strong>Privacy Policy</strong></h2>
  <hr class="my-4">

  <p>Effective September 1, 2021</p>

  <p>This policy covers Nesa Academy Community.</p>

  <h4><strong>What information Nesa Academy Community collects and Why</strong></h4>

  <p>In order to give you the best possible experience using Nesa Academy, we collect information from your interactions with our network. We use common internet technologies, such as cookies, session and ip address. We collect this basic information from everybody, whether they have an account or not.</p>

  <p>The information we collect about all visitors to our website includes:</p>

  <ul>
    <li style="list-style-type: disc;">We also collect potentially personally-identifying information like Internet Protocol (IP) addresses.</li>

  </ul>

  <p>We use this information to:</p>

  <ul>
    <li style="list-style-type: disc;">Provide, test, improve, promote and personalize Nesa Academy Community Services</li>
    <li style="list-style-type: disc;">Fight spam and other forms of abuse</li>
    <li style="list-style-type: disc;">Generate aggregate, non-identifying information about how people use Nesa Community Services</li>
  </ul>


</div>
  
  
{% endblock %}

