{% extends "_base.html" %}
{% load humanize %}


{% block title %}Terms and Conditions | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}


{% block content %}


<div class="container">

  <h2 class="change-font-family"><strong>Web Site Terms and Conditions of Use</strong></h2>
  <hr class="my-4">

  <ol>
    <li><h3 class="change-font-family"><strong>Terms</strong></h3></li>
    <p>
      By accessing this web site, you are agreeing to be bound by these web site Terms and Conditions of Use, our Privacy Policy, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site.
    </p>
    <li><h3 class="change-font-family"><strong>Revisions and Errata</strong></h3></li>
    <p>
      The materials appearing on Nesa Academy Community's web site could include technical, typographical, or photographic errors. Nesa Academy Community does not warrant that any of the materials on its web site are accurate, complete, or current. Nesa Academy Community may make changes to the materials contained on its web site at any time without notice. Nesa Academy Community does not, however, make any commitment to update the materials.
    </p>
  

  <li><h3 class="change-font-family"><strong>Links</strong></h3></li>
  <p>
    Nesa Academy has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Nesa Academy Community of the site. Use of any such linked web site is at the user's own risk.
  </p>

</ol>


</div>
  
  
{% endblock %}

