{% extends "_base.html" %}
{% load humanize %}
{% block title %}
  Search Question |  
{% endblock title %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}



{% block content %}
<div class="container">
<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item change-font-family"><a href="/questions/">All Questions</a></li>
        <li class="breadcrumb-item active" aria-current="page">Search questions</li>
      </ol>
    </nav>
  
    {% if query %}
      <h3>Questions containing "{{ query }}"</h3>  
      <hr>
      <h5><strong>
        {% with results.count as total_results %}
          Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
      </strong></h5>
      <br>
      {% for question in results %}

        <h6><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></h6>
        {{ question.body|truncatewords_html:5|safe }}
        <hr>
      {% empty %}
      <div class="alert alert-danger" role="alert">
        There are no results for your query.
      </div>
        
      {% endfor %}

    {% else %}
    <div class="alert alert-danger" role="alert">
      You didn't enter any keyword
    </div>
    
    {% endif %}

    
     
</div>



{% endblock content %}