{% extends "_base.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}Share Question | {% endblock %}

{% block description %}{{ question.title }}{% endblock description %}

{% block keywords %}{% for tag in question.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}{% endblock keywords %}

{% block og %}{{ question.title }}{% endblock og %}



  {% block content %}

  {% if sent %}
  <div class="success-jumbotron">
    <div class="container">
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ question.get_absolute_url }}">{{ question.title|truncatewords:4 }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">Email successfully sent</li>
        </ol>
      </nav>
    </div>
    
    <h3><strong>Email successfully sent</strong></h3>
    <p>
      "{{ question.title }}" was successfully sent to {{ form.cleaned_data.to }}
    </p>
    <div class="text-center">
      <a class="btn btn-lg" href="{{ question.get_absolute_url }}">Go Back</a>
    </div>
  </div>
  {% else %}
  <div class="container">

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ question.get_absolute_url }}">{{ question.title|truncatewords_html:10 }}</a></li>
        <li class="breadcrumb-item active change-font-family" aria-current="page">Share by mail</li>
      </ol>
    </nav>
  <h3><strong>Share "{{ question.title }} by e-mail"</strong></h3>

  <form method="post">
    {% csrf_token %}
   
    {{ form|crispy }}
    
      <br>
      <div class="text-center">
    <input type="submit" class="btn" style="width: 100%" value="Send e-mail">
    </div>
   </form>
   </div>
  {% endif %}
  





    
    
  

</div>

{% endblock %}



