{% extends "_base.html" %}
{% load humanize %}
{% block title %}
  Search Question |  
{% endblock title %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and StatisticsN{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}



{% block content %}
<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/articles/">All Articles</a></li>
      <li class="breadcrumb-item"><a href="/articles/search/">Re-Search</a></li>
      <li class="breadcrumb-item active" aria-current="page">Search articles</li>
    </ol>
  </nav>
  
    {% if query_articles %}
      <h3>Articles containing "{{ query_articles }}"</h3>  
      <hr>
      <h5><strong>
        {% with results.count as total_results %}
          Found {{ total_results }} result{{ total_results|pluralize }}
        {% endwith %}
      </strong></h5>
      <br>
      <div class="row">
          
        {% for post in results %}
        <div class="col-md-6 col-lg-4 mb-5">
          <div>
            <h4><a href="{{ post.get_absolute_url }}">{{  post.title|truncatewords:10 }}</a><small style="font-size: x-small; float: right;" class="green-color">({{ post.created }})</small> </h4>
            <a href="{{ post.image.url }}" target="_blank">
              <img src="{{ post.image.url }}" class="mb-4 img-fluid">
            </a>
             <p> 
                {% for tag in post.tags.all %}
                <a href="{% url 'articles:post_list_by_tag' tag.slug %}" class="tags">
                  {{ tag.name }}
                </a>
                {% if not forloop.last %} {% endif %}
              {% endfor %}
              </p>

              <p><b>By:</b>{% if post.author %}<a href="{% url 'profile' post.author.id post.author.username %}"> {{ post.author.get_full_name }}</a>{% else %} <a href='/help/#anonymous-user'>Anonymous User</a> {% endif %}</p>
        
              <i class="material-icons green-color" style="position: relative; top: 5px; right: 5px;">visibility</i> {% with post.views as total_views %}
              {{ total_views }} view{{ total_views|pluralize }}
              {% endwith %}
        </div>

        <hr>
        </div>
        {% empty %}
        <div class="alert alert-danger" role="alert">
        There are no results for your query. <a href="/articles/search">Search Again</a>
      </div>

      {% endfor %}

    {% else %}
    <div class="success-jumbotron">

      <br>
     
    
    <form method="get" action="{% url 'articles:article_search' %}" autocomplete="off">
      <input class="form-control mr-2" name="query_art" type="search" placeholder="Search Articles..." aria-label="Search" required autofocus>
      </form>
    </div>
    
    {% endif %}

    
     
</div>



{% endblock content %}