{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% load static %}
{% load humanize %}

{% block title %}Tutorial | {% endblock title %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}

{% block content %}

<button type="button" id="modal-button1" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1" style="visibility: hidden; display: none;" >
  Launch demo modal
</button>

<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Reply:</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          
          
        </p>
      </div>
      <!-- <div class="modal-footer">

        <p class="google">
          <i class="fa fa-google" style="font-size:24px; position: relative; right: 15px;"></i>
          <a href="{% url "social:begin" "google-oauth2" %}" style="color: #fff;">Login with Google</a>
        </p>
      </div> -->
    </div>
  </div>
</div>


<div class="container">
  <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/tutorials/institutions/{{ tutorial.course.institution.slug }}/{{ tutorial.course.slug }}/">{{ tutorial.course }}</a></li>
      <li class="breadcrumb-item active" aria-current="page"><b>Last Updated</b> {{ tutorial.updated }}</li>
    </ol>
  </nav>
  {% if new_comment %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>comment added successfully</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
  <h5><strong>Question:</strong></h5>
  <div class="question-body" style="overflow-x:auto;">
   {{ tutorial.question|safe }}
</div>
<span style="background-color: #266150; color: #E8CEBF; padding: 2px 10px; border-radius: 5px;">{{ tutorial.session }} Session <b>{{ tutorial.mode|title }}</b></span> 
<br>
<br>
<h5><strong>Answer:</strong></h5>
<div class="question-body" style="overflow-x:auto;">
  {{ tutorial.answer|safe }}
</div>
<!-- <b>By:</b> <a href="{% url 'profile' tutorial.author.id tutorial.author.username %}"> {{ tutorial.author.get_full_name }}</a> -->

<div class="alert alert-warning" role="alert">Not satisfied yet, <a href="/questions/ask">click here</a></div>

<div class="comment-head mt-5">
  {% with comments.count as total_comments %}
  <h6><strong>{{ total_comments }} Comment{{ total_answers|pluralize }}</strong> </h6>

  {% endwith %}
</div>


<div class="comment-body">
  

  {% for comment in comments %}
  <div class="question-body" style="overflow-x:auto;">
    <p>{{ comment.comment|safe }}</p>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <!-- {% if user.is_authenticated %}
        <span class="reply"><a href="">Reply</a></span> <b>|</b> <span><a href="">View Replies</a></span>
      {% endif %} -->
    </div>
    <div class="col-12 col-lg-6 mb-5">
    <strong>Comment by: </strong> <img src="{{ comment.author.profile.get_photo_url }}" class="img-config" alt="{{ user.get_full_name }}">
      <small><a href="{% url 'profile' comment.author.id comment.author.username %}">{{ comment.author.get_full_name }}</a></small> | 
      {{ comment.created|timesince }} ago
      {% if request.user.username == comment.author.username %}
          <a href="{% url 'delete_comment' comment.id tutorial.id %}" style="color: crimson;"><i class="material-icons">delete</i></a>
            <a href="{% url 'edit_comment' comment.id tutorial.id %}"><i class="material-icons">edit</i></a>
          {% endif %}
          {% if comment.author.username == tutorial.author.username %}
          <span style="background-color: #266150; color: #E8CEBF; padding: 2px 10px; border-radius: 10px;">Author</span> 
          {% endif %}
      
    </div>
    </div>
    {% empty %}
    <p>There are no comments yet. Be the first</p>
    {% endfor %}

  </div>

    {% if user.is_authenticated %}
    <form method="post" enctype="multipart/form-data" novalidate>
    {{ comment_form.media }}
    {{ comment_form|crispy }}
    {% csrf_token %}
    <br>
    <button type="submit" class="btn btn-color-2" style="width: 100%">Add Comment</button>
    </form>

    {% else %}
    <div class="alert alert-danger" role="alert">
              You need to <a href="{% url 'login' %}">login</a> to post a comment
            </div>
    {% endif %}
    </div>


  

</div>
 




{% endblock content %}

{% block script %}
  <script>
    // let reply = document.querySelectorAll('.reply');
    // console.log(reply);
    // reply.forEach(element => {
      
    //   element.addEventListener('click', Reply)
    // });

    // function Reply(e) {
    //   e.preventDefault();
    //   alert('Clicked Me')
    // }


    // function brakechain() {
    //   var a;
    //   a = document.getElementById("div1");
    //   a.innerHTML = "&#xf0c1;";
    //   setTimeout(function () {
    //       a.innerHTML = "&#xf127;";
    //     }, 1000);
    // }
    // brakechain();
    // setInterval(brakechain, 2000);
    

    

  </script>
{% endblock script %}