{% extends "_base.html" %}
{% load static %}

{% block title %}500 Error | {% endblock %}

{% block description %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock description %}

{% block keywords %}Economics, Econometrics, Micro economics, Macro economics, Academy, Nesa{% endblock keywords %}

{% block og %}Nesa Academy is a question and answer site for students and enthusiast economists. It features questions and answers on a wide range of topics in Economics, Econometrics and Statistics{% endblock og %}




{% block content %}


  
  <div class="container text-center">

  <img src="{% static 'images/logo.png' %}" width="80" alt="Logo">
  <br>
  <br>
      
       <h2><strong>OOOOOOps server error</strong></h2>

       <p>Please <a href="mailto:academynesa@gmail.com" style="color: #266150;">contact us</a> if error persist</p>

       
     
  </div>
  

{% endblock %}
